body {
    background-color: #337ab7;
}

.inline {
    display: inline;
}

.vertical-center {
    align-items: center;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.margin-sm {
    margin-top: 1em;
}

.center {
    margin-top: 30vh;
}

.white {
    background-color: white;
    color: white;
}

.black {
    color: black;
}

#chatBox {
    position: relative;
    height: 30em;
    margin-bottom: 2em;
}

#messages {
    padding-top: .6em;
    padding-left: .6em;
}

#chatForm {
    position: absolute;
    padding: 1em;
}

#chatIdeas {
    margin-left: 4em;
    height: 30em;
}
